.Card {
    width: 200px;
    height: 170px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(223, 223, 223);
    margin: 0px 10px 80px;
    background-color: rgb(255, 253, 248);
    text-align: center;
    line-height: 1.4;
    cursor: pointer;
    transition: box-shadow 500ms;

}

.imageContainer {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -50px;
}

.imageContainer img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.name {
    font-weight: 600;
}

.price {
    font-weight: 600;
    margin-top: 5px;

}

.bottom {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.border {
    box-shadow: 0 2px 10px rgb(255, 172, 77);
}

@media (max-width: 460px) {
    .Card {
        width: 80%;
    }

    .bottom {
        justify-content: space-between;
    }
}