.Collapsible {
  background-color: white;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(214, 214, 214);
  font-size: 20px;

}

.Collapsible__trigger:hover {
  background-color: rgb(243, 243, 243);
}

.Collapsible__contentInner {
  text-align: left;
  padding: 20px 10px;
}

.Collapsible__contentInner:hover {
  background-color: white;
}

.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  text-align: left;
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  padding: 10px;
  color: black;
}

.Collapsible__trigger:hover {
  background-color: rgb(243, 243, 243);
}

.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);

}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 770px) {
  .Collapsible {
    width: 93vw;
    margin-left: 10px;
  }
}