.Home {
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 177, 177);
    position: relative;
    overflow:hidden;
    z-index: 1;
    font-size: 2vw;
}

.Home:before{
    position: absolute;
    left:0;
    top:75px;
    content: url(../../assets/background.png);
    opacity:0.04;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.Buttons {
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 1vh 10vw;
    position: absolute;
    top: 9vh;
    right: 0;
}

.Panel {
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 1vh 10vw;
    position: absolute;
    top: 8vh;
    left: 0
}

@media (max-width: 770px) {
    .nav {
        position: absolute;
        top: 0;
        left: 0;
    }

    .display {
        display: none;
    }

    .Buttons,
    .Panel {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    .Buttons {
        position: absolute;
        top: 10%;
        width: 83%;
    }

    .Panel {
        position: absolute;
        top: 72%;
        width: 100%;
    }

    .button {
        margin: -1% 0;
    }
}