.Shop {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
    ;
}

.Shop h1 {
    margin: 105px 0 125px;
    letter-spacing: 1px;
    width: 100vw;
}

.CardContainer {
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 0 13vw;
}

@media screen and (max-width: 916px) {
    .CardContainer {
        padding: 0 0 0 22vw;
    }
}

@media (max-width: 700px) {
    .Shop h1 {
        margin-bottom: 10px;
    }

    .CardContainer {
        padding: 0;
        width: 100%;
        justify-content: space-evenly;
    }
}