.Card {
    height: 85vh;
    width: 40vw;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 25px rgb(120, 255, 255);

}

.photoContainer {
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 2;
    margin-top: -35px;

}

.photoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 400px) {
    .photoContainer {
        height: 60%;
    }

    .photoContainer img {
        object-fit: cover;
    }
}

.message {
    overflow: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    padding: 0px 20px;
    color: rgb(21, 75, 100);
    z-index: 2;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}



.x1 {
    left: 5%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 25%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x4 {
    left: 22%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x5 {
    left: 1%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: -48%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 8s linear infinite, sideWays 6s ease-in-out infinite alternate;
    -moz-animation: moveclouds 8s linear infinite, sideWays 6s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes swayWays {
    0% {
        transform: rotate(12deg);
        left: -0.3%;
    }

    33% {
        transform: rotate(-2deg);
        left: 0.7%;
    }

    100% {
        transform: rotate(0deg);
        left: -12%;
    }
}

/* //  HEART CODE */
.heart {
    position: relative;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 30px;
    background: #CC2022;
    -moz-border-radius: 20px 50% 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}