.Post {
    width: 100%;
    min-height: 900px;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid rgba(219, 219, 219, 1);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.Post header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
}

.MoreIcon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.ImageContainer {
    height: 650px;
    width: 100%;
}

.ImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}