.Display {
    width: 40vw;
    height: 40vh;
    border: 4px solid rgb(235, 235, 235);
    border-radius: 20px;
    margin: 3vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(122, 122, 122);
}

img {
    display: block;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;

}

.Display:after{
    content: url(../../../assets/static.gif);
    opacity:0.04;
    z-index: 1;
    float: initial;
    position: absolute;
    top: 0;
    left: 0;
}