.Stats {
    text-align: center;
    background-color: rgb(47, 177, 177);
    height: 100vh;
    position: relative;
    overflow:hidden;
    z-index: 1;
}

.Stats:before{
    position: absolute;
    left:0;
    top:75px;
    content: url(../../assets/background.png);
    opacity:0.04;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.question {
font-size: 32px;
color: white;
margin: 20vh auto 5vh;
}

.button {
    display: inline-block;
    margin: 5vh 2vw;
}

.panel {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 6vh 10vw;
    position: absolute;
    top: 8vh;
    left: 0px;
}

.chartContainer {
    width: 100%;
    height: 52vh;
}

.progress {
    width: 37vw;
    height: 72vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 6vh 10vw;
    position: absolute;
    top: 8vh;
    right: 0px;
    border: 5px solid orange;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: auto;
}

@media (max-width: 770px) {
    .panel,
    .progress {
        position: relative;
        width: 90%;
        margin: 0 auto;
        top: 50px;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        height: 40px;
        position: fixed;
        top: 58px;
        left: 0px;
        width: 100vw;
        box-shadow: 0 5px 5px rgb(182, 182, 182);
    }

    .chartContainer {
        height: 30vh;
    }
    .progress {
        top: 9%;
        height: 45vh;
        width: 100%;
        border: none;
        border-radius: 0;
    }
}
