* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(showcase.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0 20px;
}

h1 {
    margin-bottom: 40px;
    font-size: 100px;
    text-shadow: 2px 2px 2px silver;
    color: rgb(76, 105, 114);
}

header > p {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(113, 149, 168);
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
}

a {
    margin-bottom: 100px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 2px 2px 2px silver;
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(91, 123, 139);
    transition: all 400ms ease-in;
    background: rgba(152, 152, 158, 0.2);

}

.button:hover {
    background: white;
    color: rgb(94, 91, 91);
}

section {
    padding: 20px;
    color: rgb(88, 118, 133);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(252, 247, 231);
}