.Setup {
    width: 502px;
    height: 502px;
    border: 1px solid black;
    display: flex;
    flex-flow: wrap;
}

@media (max-height: 500px) {
    .Setup {
        height: 90vh;
        width: 90vh;
    }
}