.Cell {
    height: 10%;
    width: 10%;
    border: 1px solid lightgrey;
}

.Cell.selected {
    background-color: lime;
}

.Cell.destroyed {
    background-color: red;
}

.Cell.missed {
    background-color: grey;
}