.Cell {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

.Cell.selected {
    background-color: lime;
}

.Cell.destroyed {
    background-color: red;
}

.Cell.missed {
    background-color: grey;
}