.Sidebar {
    position: fixed;
    text-align: left;
    width: 220px;
    padding: 0 25px;
    top: 80px;
    left: 0;
}

.Sidebar h4 {
    padding-left: 10px;
}

.Sidebar li {
    list-style: none;
    padding: 10px 0 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: 150ms all ease-out;
}

.Sidebar li:active,
.Sidebar .active {
    font-weight: 600;
}

.Sidebar li:hover {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    background-color: rgb(252, 246, 231);
}

.Sidebar img {
    margin: 10px 10px -4px;
    height: 20px;
    width: 20px;
}

@media (max-width: 700px) {
    .Sidebar {
        width: 100%;
        position: static;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 70px;
    }

    .Sidebar li,
    .Sidebar li:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
        width: 31%;
        text-align: center;
        padding-right: 3vw;
        border: 1px solid rgb(141, 141, 141);
    }

    .Sidebar img {
        margin: 0 8px;
    }

    .Sidebar h4 {
        display: none;
    }

    .Sidebar li:active,
    .Sidebar .active {
        background-color: rgb(252, 246, 231);
    }
}

@media (max-width: 420px) {

    .Sidebar li,
    .Sidebar li:hover {
        width: 48%;
        padding-right: 4vw;
    }

}