.Success {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
    margin-top: 120px;
}

.Success h1 {
    margin: 0 20px 50px;
}

.flexContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.links {
    margin: 50px auto 100px;
    width: 90vw;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links button {
    margin: 0;
}