.WeatherCard {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 1px;
    border: 1px solid transparent;
    color: white;
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
}

.WeatherCard.active {
    background-color: rgba(247, 247, 247, 0.123);
}

.WeatherCard span {
    margin: 0 3px;
}

.WeatherCard i {
    font-size: 40px;
    margin: 6px;
}