body {
font-family: helvetica, Arial, sans-serif;
font-size: 14px;
height: 16px;
line-height: 16.8px;
box-sizing: border-box;
padding: 0;
margin: 0;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;

}

li:nth-of-type(1) {
    font-weight: bold;
}

li {
    margin-right: 18px;
    font-weight: 500;
}

a {
    color: #e5e5e5;
    text-decoration: none;
    transition: color 400ms;
    
}

a:visited {
    color: #e5e5e5;
}

a:hover {
    color: #e5e5e57a;
}

a:active {
    color: #e5e5e5;
}

.image {
    margin: 10px -12px 10px 30px;
}